body {
  background-color: pink;
  text-align: center;
}

.main {
  width: 1000px;
  margin: auto;
  background: seashell;
  border: solid black 1px;
  box-shadow: 5px 5px 5px grey;
}
.container {
  border: solid black 1px;
  box-shadow: 5px 5px 5px grey;
}

.lap-time {
  font-family: "VT323", monospace;
  font-size: x-large;
  display: inline-block;
  background: navy;
  width: 300px;
  height: 500px;
  color: white;
  border: solid 5px silver;
  border-radius: 5px;
}

.button {
  border: solid black 3px;
  width: 30px;
  height: 40px;
  border-radius: 40%;
}
.start {
  background: red;
  position: absolute;
  top: 130px;
  left: 338px;
  transform: rotate(45deg);
  z-index: 2;
}

.lap {
  background: darkslategrey;
  position: absolute;
  top: 130px;
  left: 171px;
  font-size: 10px;
  transform: rotate(-45deg);
  z-index: 2;
}

.elapsed-time {
  font-family: "Orbitron", monospace;
  display: inline-block;
  position: relative;
  margin: 100px auto;
  width: 200px;
  height: 220px;
  border-radius: 40%;
  background: darkgrey;
  border: solid 10px black;
  z-index: 3;
}
.right {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
  padding: 20px;
  height: 500px;
  width: 500px;
}
.left {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 20px;
  height: 500px;
  width: 300px;
}
.running-time {
  color: black;
  font-size: x-large;
  background-color: silver;
  width: 70%;
  border-radius: 10px;
  line-height: 50px;
  margin: 50px auto;
  margin-bottom: 30px;
}
.running-lap-time {
  color: black;
  font-size: small;
  background-color: silver;
  width: 40%;
  border-radius: 10px;
  line-height: 30px;
  margin: auto;
}
.left-pressed {
  top: 134px;
  left: 175px;
}
.right-pressed {
  top: 134px;
  left: 334px;
}
