body {
  background-color: pink;
  text-align: center;
}

.container {
  background-color: grey;
  border: solid black 1px;
}

.lap-time {
  display: inline-block;
  width: 200px;
  height: 500px;
}

.four-buttons {
  display: inline-block;
  background-color: white;
  width: 200px;
  height: 100px;
  margin: 20px;
}

.elapsed-time {
  display: block;
  width: 500px;
  height: 100px;
  margin: 0 0 100px 0;
}
.right {
  display: inline-block;
  text-align: center;
  padding: 20px;
  height: 500px;
  width: 500px;
}
.left {
  display: inline-block;
  text-align: center;
  padding: 20px;
  height: 500px;
  width: 300px;
}
